@charset "UFT-8";


h1 {
    border: 2px solid black;
    padding: 20px 20px 200px 20px;
}


div {
    background-color: #e7e7e7;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    margin: 0px;
    margin-top: 20px;
}


.fixo {
    position: fixed;
    bottom: 0;
    left: 20%;
    right: 20px;

}

span {
    background-color: rgba(127, 255, 212, 0.568);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: -20px;
    border: 2px solid black;
}